<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <header id="page-header">
        <h1>Travel Me Silly</h1>
    </header>

    <main>
        <form id="form" onsubmit="return false">
            <label for="destination">My trip to:</label>
            <input type="text" id="destination" name="destination" pattern="[0-9]{5}" title="5 digit zip code" placeholder="enter location"><br>
            <label for="trip-start">Departing:</label>
            <input type="date" id="start" name="trip-start" min="10-01-2020" max="10-01-2021">
            <button id="generate">save trip</button>
        </form>
        <section id="all-posts">
            <div class="entry-holder">
                <div class="wait"></div>
                <div class="temp"></div>
                <div class="skies"></div>
            </div>
        </section>
    </main>

    <footer>
    </footer>

</body>

<script src="app.js" type="text/javascript"></script>

</html>
